*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
a{
    text-decoration:none;
}
body{
    padding:0;
    margin:0;
}
/* header */
.header{
    display:flex;
    justify-content:space-between;
    align-items: center;
    height: 50px;
    background:#ccc;
    /* thêm */
    /*position:relative;*/
}

.header .header-right a {
    color:#000;
    text-decoration: none;
    margin-right: 10px;
}
.header .header-right a:hover{
    opacity: 0.6;
}
.header .header-left {
    margin-left: 15px;
}
.header .header-left a {
    text-decoration: none;
    font-size: 28px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color:peru;
    font-weight: bold;
}
.height{
    height: 1000px;
}
/* sidebar */
.sidebar{
    position:absolute;
    left:0;
    width:250px;
    min-height:100%;
    background-color:#1b1b1b;
    /*transition: left 0.4 ease;*/
}
.sidebar.show{
    left:0;
}
.sidebar .text{
    color:#fff;
    font-size: 25px;
    font-weight: bold;
    line-height: 65px;
    text-align: center;
    background-color: #1e1e1e;
    letter-spacing: 1px;
}
nav ul {
    background-color:#1b1b1b;
    height: 100%;
    width:100%;
    list-style-type: none;
}
nav ul li {
    line-height: 20px;
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}
nav ul li a{
    text-decoration: none !important;
    color:#fff;
    font-size:18px;
    padding:20px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
    position:relative;
}
nav ul li a:hover{
    color:#fff !important;
}
nav ul li.active a {
        color: cyan;
        background-color: #1e1e1e;
        border-left-color: cyan;
    }
nav ul ul{
    position:static;
    display:none;
}
nav ul .qlnv-show.show{
    display:block;
}
nav ul .qlpb-show.show{
    display:block;
}
nav ul ul li {
    line-height:10px;
    border-bottom: none;
}
nav ul ul li a {
    font-size: 17px;
    color:#e6e6e6;
    padding-left: 40px;
}
nav ul li.active ul li a{
    color:#e6e6e6;
    background:#1b1b1b;
    border-left-color: transparent;
}
nav ul ul li a:hover{
    color:cyan !important;
    background: #1e1e1e !important;
}
nav ul li a i {
    position:absolute;
    top:50%;
    right:20px;
    transform: translateY(-50%);
    font-size: 20px;
    transition:transform 0.4s;
}
nav ul li a:hover i{
    transform:translateY(-50%) rotate(-180deg);
}
.content {
    /*width: 100%;*/
    margin-left: 250px;
    padding: 20px;
}
/*test-name*/
.test-name{
    color:red;
    font-size:20px
}

/*icon qlnv*/
.icon-qlnv{
    margin-right:10px;
}

/*user them*/
.user-btn-them {
    margin-bottom: 10px;
    transition: all .4s;
    padding: 11px 7px;
}
.user-btn-them:hover{
   border:1px solid #ccc;
}

.user-input-search {
    border: 1px solid #989898;
    padding: 5px 13px;
    border-radius: 25px;
    outline: none;
    width: 350px;
    transition:all .3s;
}
.user-input-search:hover{
    border:1px solid blue;

}
.user-btn-search {

}