<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="~/HomeLayout/css/style.css" rel="stylesheet" />
</head>
<body>
    <header class="header">
        <div class="header-left">
            <a href="#">Fecth</a>
        </div>
        <div class="header-right">
            <a href="#"><i class="far fa-user-circle"></i>Đăng Nhập</a>
            <a href="#"><i class="fas fa-sign-out-alt"></i>Thoát</a>
        </div>
    </header>
    <nav class="sidebar nav">
        <div class="text">Quản Lý Nhân Sự</div>
        <ul>
            <li>
                <a href="#" class="qlnv-btn">Quản lý nhân viên<i class='fas fa-caret-down first'></i></a>

                <ul class="qlnv-show">
                    <li><a href="#">Danh sách nhân viên</a></li>
                    <li><a href="#">Chấm công</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="qlpb-btn">Quản lý phòng ban<i class='fas fa-caret-down second'></i></a>
                <ul class="qlpb-show">
                    <li><a href="#">Danh sách phòng ban</a></li>
                </ul>
            </li>
            <!-- test -->


        </ul>
    </nav>
    <div class="height"></div>
    <div>
        @RenderBody()
    </div>

    <script>
        $('.qlnv-btn').click(function () {
            $('nav ul .qlnv-show').toggleClass("show")
            $('nav ul .first').toggleClass("rotate")

        });
        $('.qlpb-btn').click(function () {
            $('nav ul .qlpb-show').toggleClass("show")
            $('nav ul .second').toggleClass("rotate")
        });
        $('nav ul li').click(function () {
            $(this).addClass("active").siblings().removeClass("active");
        })
        $('.btn').click(function () {
            $(this).toggleClass("click");
            $('.sidebar').toggleClass("show");
        })

    </script>
</body>
</html>
